  /******************************************************************

  Stylesheet: 900px以下のモニタで適用

  ******************************************************************/

  

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  .header {
    &__nav {
      position: fixed;
      top: 0;
      left: -280px;
      bottom: 0;
      width: 280px;
      color: $cBlack;
      padding: 60px 25px;
      background-color: $cWhite;
      transition: all .5s;
      z-index: 20;
      opacity: 0;
  
      .open & {
        transform: translateX(280px);
        opacity: 1;
      }

      .mobile-logo {
        display: block;
        padding: 20px 20px 20px 0;
      }

      .mobile-ul {
        display: block;
        margin-bottom: 60px;
        perspective: 2000px;
        transform-style: preserve-3d;

        & li {
          position: relative;
          margin: 0;
          padding: 25px 0;
          border-top: solid 1px $cBlack;
          transform: translate3d(0, 0, -1000px);
          transition: transform .5s, opacity .5s;
          opacity: 0;
  
          &:last-child {
            border-bottom: solid 1px $cBlack;
          }
  
          .open & {
            transform: none;
            opacity: 1;
  
            @for $i from 1 through 7 {
              &:nth-child(#{$i}) {
                  transition-delay: $i * 0.1s;
              }
            }
          }
        }
      }

      .mobile-sns {
        display: block;
        position: relative;
        font-size: 0.9rem;
  
        & li {
          margin-left: 1.25em;
          padding: 10px 0;
        }
  
        & .icon::before {
          left: -1.25em;
        }
      }
    }
  
    &__ul, &__sns {
      display: none;
    }
  
    &__btn {
      display: block;
      position: fixed;
      top: 25px;
      right: 45px;
      width: 30px;
      height: 30px;
      transition: all .5s;
      cursor: pointer;
      z-index: 20;
  
      & span {
        display: block;
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: $cBlack;
        border-radius: 4px;
        transition: all .5s;
  
        &:nth-child(1) {
          top: 4px;
        }
        &:nth-child(2) {
          top: 14px;
        }
        &:nth-child(3) {
          bottom: 4px;
        }
  
        .open & {
          background-color: $cWhite;
  
          &:nth-child(1) {
            transform: translateY(10px) rotate(-315deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-10px) rotate(315deg);
          }
        }
      }
    }
  }

  #mask {
    display: none;
    transition: opacity .5s;
  
    .open & {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $cBlack;
      opacity: 0.5;
      z-index: 10;
      cursor: pointer;
    }
  }

  /*-------------------------------------------
  Arrival
  -------------------------------------------*/
  .arrival {
    padding: 80px 0;

    &__list li {
      padding: 0 20px;
    }
  }

  .swiper-slide {
    height: 300px;
  }
  
  /*-------------------------------------------
  Products
  -------------------------------------------*/
  .products {
    padding: 80px 16px;

    &__content {
      padding: 16px;
    }

    &__btn {
      text-align: center;
      margin: 30px 0;
    }
  }

  /*-------------------------------------------
  Article
  -------------------------------------------*/
  .article {
    &__inner {
      flex-direction: column;
    }

    &__img {
      width: 100%;
      margin-bottom: 30px;
    }

    &__text {
      width: 100%;

      .page-title {
        font-size: 1.5rem;
      }
    }
  }

  /*-------------------------------------------
  About, Company
  -------------------------------------------*/
  .page {
    &__inner {
      flex-direction: column;
    }

    &__img {
      width: 100%;
      margin-bottom: 30px;
    }

    &__text {
      width: 100%;
      padding: 0%;

      .page-title {
        font-size: 1.75rem;
        text-align: center;

        &::before {
          display: none;
        }
      }

      .ja {
        display: block;
        text-align: center;
      }
    }
  }

  /*-------------------------------------------
  フッター
  -------------------------------------------*/
  .footer {
    flex-direction: column;
    align-items: center;

    &__logo {
      margin: 0 auto;
    }

    &__nav {
      padding: 20px 0;
    }

    &__ul {
      flex-direction: column;
      align-items: center;

      & li {
        margin: 10px 0;
      }
    }
  }